/*
* {
	border: 1px solid red !important;
}
*/

body {
	font-family: 'Lato', sans-serif;
	color: #f8981c;
	background-image: radial-gradient(circle, black, #f8981c);
    background-color: #fcfcfc;
    background-attachment: fixed;
}

footer {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 25px;
}

footer h4 {
    display: inline;
}

h4 span {
    color: azure;
    padding-right: 50px;
}

#gh {
    padding-right: 50px;
}

.container {
    padding-top: 25px;
    padding-bottom: 25px;
}
		/* -- Header --*/

h1 {
	font-weight: 100;
	letter-spacing: 0.04em;
	font-size: 50px;
	margin-bottom: 5px;
}

h3 {
	font-size: 20px;
	margin-top: 0;
	letter-spacing: 0.03em;
}

hr {
  margin-top: 10px;
  margin-bottom: 20px;
  border: 0;
  border-top: 4px solid #bcbbbb;
}

.top_margin {
    margin-top: 350px;
}

.fixed {
    position: fixed;
    top: 0;
    padding: 10px 0;
    width: 62%;
    z-index: 1;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.7);
    background-image: linear-gradient(black, #f8981c);
	-webkit-transition: all 1.5s ease-out;
}

.Padding-Top-HeaderTitle {
	padding-top: 25px;
}

.width-HeaderLogo {
	width: 40%;
	border-radius: 30%;
}

		/*--Content--*/

h2 {
	letter-spacing: 0.04em;
	font-size: 34px;
}

.main-img-resize {
	
	width: 1000px;
	max-height: 400px;
}

/* For the 3 bottom images (300x200) */
.img-resize {
	max-width: 300px;
	max-height: 200px;
}

a:link {
	text-decoration: none;
	color: #f8981c;
	letter-spacing: 0.04em;
}

a:visited {
	color: #f8981c;
}

.featuredWork-Row {
	padding-left: 15px;
	letter-spacing: 0.03em;
	color: #CBCBCB;
}